.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.Item {

  margin: 10px;
  padding: 5px;
  width: 25vw;
  background-color: green;
  border: solid 5px black;
  border-radius: 10px;
}

.AddItem {
  margin: 10px;
  padding: 10px;
  width: 25vw;
  background-color: blue
}

/* .Strikethru {
  text-decoration: line-through;
  color: grey;
} */